body {
  background: #f2f2f2;
}

.autocomplete-input {
  display: block;
  width: 30%;
  margin: 1em auto 0;
  padding: .5em 10px;
  border: 1px solid #999;
  font-size: 130%;
  font-family: "Arvo", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 400;
  color: #3e8ce0
}

.autocomplete-result {
  list-style: none inside;
  width: 30%;
  margin: 0 auto 2em;
  padding: 5px 0 0;
  text-align: left;
  color: #777;
  background: #fff;
  border: 1px solid #ddd;
  font-family: "Arvo", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 400;
}

.autocomplete-result li {
  padding: .5em .5em;
  border-bottom: 1px solid #eee;
}

.autocomplete-result li:hover {
  background: #ffc2b1e2;
  cursor: pointer;  
}

.hidden {
  display: none;
}